<mat-card>
  <mat-card-header>
    <mat-card-title>Account list</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource$">
      <!-- Position Column -->
      <ng-container matColumnDef="account_number">
        <th mat-header-cell *matHeaderCellDef>Account number</th>
        <td mat-cell *matCellDef="let element">{{ element.account_number }}</td>
        <td mat-footer-cell *matFooterCellDef>Balance</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="account_type">
        <th mat-header-cell *matHeaderCellDef>Account type</th>
        <td mat-cell *matCellDef="let element">{{ element.account_type }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let element">{{ element.balance | currency: 'ZAR ' }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ totalBalance$ | async | currency: 'ZAR ' }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [disabled]="!canWithdraw(element)" (click)="withdraw(element)">
            Withdraw
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
