@import '~@angular/material/theming';

@include mat-core();

// Available color palettes: https://material.io/design/color/
$acme-app-primary: mat-palette($mat-green, 600);
$acme-app-accent: mat-palette($mat-red, 700);

$acme-app-theme: mat-light-theme($acme-app-primary, $acme-app-accent);

@include angular-material-theme($acme-app-theme);
