<h1 mat-dialog-title>Withdraw</h1>
<div mat-dialog-content class="mat-typography">
  <form [formGroup]="withdrawForm">
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Withdrawl amount"
        formControlName="amount"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error *ngIf="withdrawForm.get('amount').hasError('limitExceeded')">Account limit exceeded.</mat-error>
      <mat-error *ngIf="withdrawForm.get('amount').hasError('required')">Amount is required.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!withdrawForm.valid" (click)="submit()">Submit</button>
</div>
