.page {
  margin: 20px;
}

.mat-toolbar {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #93291e, #ed213a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
